/* @media (min-width: 1201px) {
	.hamburger {
		display: none;
	}

} */

@media (max-width: 1200px) {
	.container {
		width: 100%;
	}
	.promo {
		
		&__header {
			padding-top: 5px;
			grid-template-columns: 1fr;
			grid-template-rows: 25px 50px 80px;
			row-gap: 10px;
		}
		&__menu {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			padding: 0;
			width: 587px;
			&_media {
				justify-self: center;
			}
		}
		&__phone {
			margin: 0;
			justify-self: center;
			grid-row: 2 / 3;
			grid-column: 1 / 2;
		}
		&__logo {
			justify-self: center;
			grid-row: 3 / 4;
			grid-column: 1 / 2;
		}
		&__img {
			height: 100%;
		}
		h3 {
			font-size: 20px;
		}
		h1 {
			margin-top: 0;
			font-size: 50px;
		}
		h2 {
			margin-top: 0px;
			font-size: 35px;
		}
		&__divider {
			margin: 0;
			width: 100%;
			padding-top: 10px;
			

		}
		&__line {
			width: 45%;
		}
		&__dot {

		}
		&__wrapper {
			grid-template-columns: repeat(2, 2fr);
			grid-template-rows: repeat(2, 125px);
			row-gap: 10px;
			&-item {
				padding: 0 10px 0 10px;
			}
		}
		&__btn.btn {
			margin: 0 auto;
			width: 190px;
			height: 45px;
		}
	}
	.benefits {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			&-item {
				grid-template-columns: 65px 1fr;
			}      
		}
	}
	.work {
		&__wrapper {
			margin-top: 30px;
			grid-template-columns: repeat(2, 360px);
			justify-content: space-around;
			row-gap: 20px;
			&-item:nth-child(3) {
				grid-column: 1 / 3;
			}
			&-img {
				display: block;
				margin: 0 auto;
			}
			&-descr {
				margin: 10px;;
			}  
		}
	}
	.pageup {
		bottom: 10px;
		right: 10px;
		width: 60px;
		height: 60px;
	}
	.rates {
		&__wrapper {
			grid-template-columns: repeat(2, 267px);
			justify-content: center;
			row-gap: 20px;
			column-gap: 50px;
			margin-bottom: 15px;	
		}
	}
	.consultation {
		&__title {
			padding-top: 30px;
		}
		&__border {
			display: none;
		}
	}
	.scheme {
		&__wrapper {
			margin-top: 30px;
			grid-template-columns: repeat(2, 250px);
			justify-content: center;
			column-gap: 50px;
			row-gap: 20px;
		}
		&__wrapper2 {
			padding-bottom: 30px;
			margin-top: 20px;
			display: grid;
			grid-template-columns: repeat(2, 250px);
			justify-content: center;
			column-gap: 50px;
			row-gap: 20px;
		}
	}
}

@media (max-width: 992px) {
	.menu {
		&__block {
			padding-top: 60px;
			padding-left: 10px;
			width: 320px;
		}
		&__list {
			width: 70%;
		}
	}
	.benefits {
		&__wrapper {
			row-gap: 5px;
			&-item {
				column-gap: 5px;
			}       
		}
	}
	.agent {
		&__title {
			font-size: 22px;
		}
		&__subtitle {
			font-size: 18px;
		}
	}
	.contacts {
		padding-top: 20px;
		background: #b4adad;
		&__header {
			width: 100%;
		}
		&__form {
			padding-top: 30px;
			height: 430px;
			width: 100%;
		}
		.form {
			width: 320px;
			grid-template-columns: 314px;
			grid-template-rows: 47px 47px 47px 75px 50px 50px;
			row-gap: 15px;
			column-gap: 4px;
			justify-content: center;
			&__item {
				position: relative;
		        &-name {
					grid-row: 1 / 2;
					grid-column: 1 / 2;
				}
				&-mail {
					grid-row: 2 / 3;
					grid-column: 1 / 2;
				}
				&-tel {
					grid-row: 3 / 4;
					grid-column: 1 / 2;
				}
			}
			&__textarea {
				grid-column: 1 / 2;
				grid-row: 4 / 5;
			}
			&__policy {
				grid-column: 1 / 2;
				grid-row: 5 / 6;
			}
		}
		&__btn {
			grid-column: 1 / 2;
			grid-row: 6 / 7;
			margin-top: 0px;
		} 
	}
	.consultation {
		display: none;
	}
	.managers {
		&__title {
			font-size: 22px;
		}
		&__subtitle {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

@media (max-width: 768px) {
	.promo {
		&__menu {
			display: none;
		}
		&__header {
			padding-top: 10px;
			grid-template-rows:50px 70px;
			row-gap: 10px;
		}
		&__phone {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
		}
		&__logo {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
		}
		h3 {
			font-size: 18px;
		}
		h1 {
			font-size: 28px;
		}
		h2 {
			font-size: 24px;
		}
		&__wrapper {
			&-descr {

			}
		}
	}
	.benefits {
		padding-top: 20px;
		&__wrapper {
			margin-top: 32px;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			row-gap: 20px;
			&-item {
				column-gap: 20px;
			}
			&-icon {
				grid-column: 1 / 2;
			}        
		}
	}
	.title {
		font-size: 24px;
	}
	.work {
		&__wrapper {
			margin-top: 20px;
			grid-template-columns: 1fr;
			&-item:nth-child(3) {
				grid-column: 1 / 2;
			} 
		}
	}
	.rates {
		&__wrapper {
			column-gap: 20px;	
		}
	}
}

@media (max-width: 576px) {
	.promo {
		&__header {
			grid-template-rows:5px 70px;
			row-gap: 10px;
		}
		&__phone {
			display: none;
		}
		h3 {
			font-size: 12px;
		}
		h1 {
			font-size: 20px;
		}
		h2 {
			font-size: 18px;
		}
		&__divider {
			display: none;
		}
		&__wrapper {
			margin-top: 15px;
			grid-template-columns: 1fr;
			grid-template-rows:80px 105px 80px 80px 10px;
			row-gap: 15px;
			&-item {
				text-align: center;
			}
			&-descr {
				font-family: 'Roboto';
				font-size: 14px;
				line-height: 14px;
				font-weight: 300;
				color: #ffffff;
			}
		}
	}
	.menu {
		&__block {
			padding-top: 15px;
		}
		&__close {
			top: 45px;
		}
	}
	.benefits {
		&__wrapper {
			margin-top: 15px;
			grid-template-rows: auto;
			row-gap: 10px;
			&-item {
				column-gap: 10px;
			}
			&-icon {
				grid-column: 1 / 2;
			}        
		}
	}
	.title {
		font-size: 20px;
	}
	.subtitle {
		font-size: 18px;
	}
	.work {
		&__wrapper {
			&-img {
				display: block;
				margin: 0 auto;
				width: 320px;
			}
			&-descr {
				margin: 10px;
				font-size: 12px;
			}  
		}
	}
	.agent {
		padding-top: 30px;
		&__title {
			font-size: 18px;
		}
		&__subtitle {
			font-size: 16px;
		}
	}
	.rates {
		&__wrapper {
			grid-template-columns: repeat(1, 267px);
			justify-content: center;
			row-gap: 20px;
			column-gap: 0px;	
		}
	}
	.scheme {
		&__wrapper {
			margin-top: 30px;
			grid-template-columns: repeat(1, 250px);
			justify-content: center;
			column-gap: 50px;
			row-gap: 20px;
		}
		&__wrapper2 {
			padding-bottom: 30px;
			margin-top: 20px;
			display: grid;
			grid-template-columns: repeat(1, 250px);
			justify-content: center;
			column-gap: 50px;
			row-gap: 20px;
		}
	}
}